@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white-bg: #e9f5db;
    --font-color: #404040;
    --primary-green: #c7f9cc;
    --secondary-green: #80ed99;
  }
}

@font-face {
  font-family: "Charter";
  src: url(./font/charter/ttf/Charter-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(./font/montserrat/Montserrat-Medium.ttf);
}

/* Hover background color with transition */
.hover-bg-color {
  @apply hover:bg-[#c7f9cc] transition-colors ease-in duration-300;
}

/* Hover font color with transition */
.hover-font-color {
  @apply hover:text-[#80ed99] transition-colors ease-in duration-300;
}
